[user]
	email = tomseqi@live.co.uk
	name = seqi
[alias]
	a = add
	aa = add .
	b = branch
	co = checkout
	ci = commit
	cim = commit -m
	ciam = commit -a -m
	diffs = diff --staged
	up = push
	down = pull
	nb = checkout -b 
	oops = commit -a --amend --no-edit
	amend = commit --amend --no-edit
	yeet = clean -fd
[push]	
	default = simple
	followTags = true
[color]
	status = auto
[color "status"]
	changed = magenta